<div class="modal-header">
  <h4 class="modal-title">New Image</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <label>Upload File</label>
    <div class="file-upload-wrapper mb-4">
      <input type="file" class="form-control" id="customFile" (change)="updateFile($event)" />
    </div>
    <div class="mb-4"><hr/></div>
    <div class="form-group mb-4">
      <label>URL</label>
      <input class="form-control" placeholder="URL" (keyup)="updateUrl($event)" [disabled]="this.uploadedFile !== undefined">
    </div>
    <div class="form-group mb-4">
      <label>Label</label>
      <input class="form-control" placeholder="Label" (keyup)="updateLabel($event)" [disabled]="this.uploadedFile !== undefined">
    </div>
    <div class="form-check mb-4">
      <input class="form-check-input" type="checkbox" checked (change)="updateCheckbox($event)" [disabled]="this.uploadedFile !== undefined">
      <label>Run Detector</label>
    </div>
    <div class="mb-4"><hr/></div>
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
  @if ( failed === true ) {
    <div class="text-danger">
      Failed to POST image!
    </div>
  }
  @if( waiting === true && failed === false ) {
    <div class="spinner-border mx-auto d-block" role="status">
    </div>
  }
  @if ( receivedImage !== undefined && waiting === false ) {
    <app-thumbnail
      [info]="receivedImage"
    /> 
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
