<p class="text-center mt-3">
	<button
		type="button"
		class="btn btn-primary"
		(click)="collapse.toggle()"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
		Details
	</button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="mx-2">ID: {{info.id}}</div>
  <div class="mx-2">Path: {{info.path}}</div>
  @if( info.detect === false ) {
    <div class="badge bg-warning text-dark mx-2">Detection not ran</div>
  }
  @if ( info.objects !== null && info.objects.length > 0 ) {
    <div class="card">
      <app-objects-table
        [objects]="info.objects"
      />
    </div>
  } @else if ( info.detect === true ) {
    <div class="badge rounded-pill bg-danger">No objects detected</div>
  }
</div>